// Fullscreen
//
.w-fullscreen { width: 100vw !important; }
.h-fullscreen { height: 100vh !important; }
.min-w-fullscreen { min-width: 100vw !important; }
.min-h-fullscreen { min-height: 100vh !important; }