{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "debug":true,
        "corejs": {
          "version": 3
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
